// Couleurs dégradé

$firstColor : #33428f;  // Bleu
$secondColor : #6f3747; // Centre
$thirdColor : #ab2d00; // Rouge

// Couleur check input

$fourthColor : #9bffea;

// Couleur placeholders

$fifthColor : rgba(155, 255, 234, 0.75);